{% extends 'main.html' %}
{% load url from future %}
{% load poll_tags %}

{% block title %}{{ poll.question }}{% endblock %}
{% block h1_title %}{{ poll.question }}{% endblock %}
{% block inner_content %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    <form action="{% url 'polls:detail' poll_id=poll.id %}" method="POST">
        {% csrf_token %}
        {% for field in form.choice %}
            <label class="radio">
                <input type="radio" name="{{ field.name }}" id="" value="{{ field.choice_value }}" >
                {{ field.choice_label }}
            </label> 
            {% votes_percentage_bar field.choice_value %}
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Vote" />
        <a class="btn" href="{% url 'polls:edit' poll.pk %}">Edit</a>
    </form>
    <hr />
    <a href="{% url 'polls:index' %}" class='link'>&lt;&lt; Back to polls list</a>
    |
    <a href="{% url 'home' %}" class='link'>Home</a>
{% endblock inner_content %}
