{% extends 'main.html' %}
{% load url from future %}
{% load staticfiles %}

{% block title %}{{ poll.question }}{% endblock %}
{% block h1_title %}Editing: {{ poll.question }}{% endblock %}
{% block inner_content %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% for error in form.question.errors %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    {% for error in formset.non_field_errors %}
        {{ error }}
    {% endfor %}

    <form action="{% url 'polls:edit' poll_id=poll.pk %}" method="POST">
        {% csrf_token %}
        <div class="form-inline">
            <label for="{{ form.question.id }}">{{ form.question.label }}</label>
            {{ form.question }}
        </div>
        <br/>
        <div id="sortable" class="form-horizontal">
            {{ formset.management_form }}
            {% for f in formset %}
                <div class="control-group {% if f.errors %} alert {% endif %}">
                    {% if f.errors %}
                    <div class="alert alert-danger">
                        {% for error in f.choice.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <label class="control-label">{{ f.choice.label }} {{ forloop.counter }}</label>
                    <div class="controls"> {{ f.choice }} </label>
                    {{ f.id }}
                    <label class="checkbox inline">
                        {{ f.DELETE.label }}
                        {{ f.DELETE }}
                    </label>
                    {{ f.ORDER }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <br/>
        <input class="btn" type="submit" value="Save" />
    </form>

    <hr />
    <a href="{% url 'polls:index' %}" class='link'>&lt;&lt; Back to polls list</a>
    <a href="{% url 'home' %}" class='link'>Home</a>
{% endblock inner_content %}

{% block body_extra %}
<script src="{% static "js/jquery-ui-1.10.1.custom.min.js" %}"></script>
<script>
    $(function(){
        var $sortable = $('#sortable');
        $sortable.sortable({
            axis: 'y',
            update: function(e, ui) {
                $sortable.find('.order').each(function(i, e){
                    var $elem = $(e);
                    // Check that the order field has a value before
                    // updating it.
                    if($elem.val() !== '') { $elem.val(i); }
                });
            }
        });
    });
</script>
{% endblock body_extra %}
