{% extends 'main.html' %}
{% load url from future %}

{% block title %}Polls list{% endblock %}
{% block h1_title %}Polls list{% endblock h1_title %}
{% block inner_content %}
    {% if polls_list %}  
        <ul>
        {% for poll in polls_list %}
        <li><a href="{% url 'polls:detail' poll_id=poll.id %}">{{ poll.question }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Sorry, no polls found.</p>
    {% endif %}

    <hr />
    <a href="{% url 'home' %}" class='link'>&lt;&lt; Back to home</a>
{% endblock inner_content %}
