{% extends "base.html" %}
{% block main_content %}
<div id="wrap">

  <!-- Begin page content -->
  <div class="container">
    <div class="page-header">
        <h1>{% block h1_title %}{% endblock h1_title %}</h1>
    </div>
    <p class="lead">{% block p_lead %}{% endblock p_lead %}</p>
    {% block inner_content %}{% endblock inner_content %}
  </div>
</div>
{% endblock main_content %}
